<div ng-controller="PehiksageController">
<br/>
    <div ng-if="computed.totalPi > config.maxPi" class="alert alert-danger">Ce profil dépasse la limite de <b>{{config.maxPi}}
        PI</b>. Il vous manque <b>{{computed.totalPi - config.maxPi}} PI</b>.
    </div>

    <form ng-if="import.show" class="form-horizontal" role="form">
        <div class="alert alert-info">Vous pouvez coller dans la zone ci-dessous le JSON d'un profil.</div>
        <div class="form-group">
            <label for="importJson" class="col-sm-2 control-label">Profil au format JSON</label>

            <div class="col-sm-10">
                <textarea ng-model="import.json" class="form-control" id="importJson"></textarea>
            </div>

            <button type="button" class="btn btn-success" ng-click="importProfile()">
                <span class="glyphicon glyphicon-import"></span> Importer le profil
            </button>

            <pre class="infodev">{{import.json}}</pre>
        </div>
    </form>

    <form ng-if="profile" class="form-horizontal" role="form">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Trõll</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="name" ng-model="profile.name">
            </div>

            <label for="name" class="col-sm-1 control-label">Profil</label>

            <div class="col-sm-2">
                <input type="text" class="form-control" id="profile" ng-model="profile.profile">
            </div>

            <label class="col-sm-4 control-label">
                <span ng-class="{true:'error', false:''}[computed.totalPi > config.maxPi]">{{computed.totalPi}} PI</span>
                (Niveau >= {{computed.level}}) - reste {{config.maxPi - computed.totalPi}} PI
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Race</label>

            <div class="col-sm-10">
                        <span ng-repeat="race in races">
                            <input type="radio" ng-model="profile.race" name="race" value="{{race}}" ng-required="true"
                                   ng-change="raceChanged()"/>
                            {{race}}
                        </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Caractéristiques ({{computed.piCaracts}} PI -
                {{computed.percentCaracts |
                number:2}}%)</label>

            <div class="col-sm-10">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Valeur</td>
                            <td>Bonus</td>
                            <td>Moyenne</td>
                            <td>Nombre d'améliorations</td>
                            <td>Investi</td>
                            <td>Coût de la prochaine amélioration</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="carac in caracs">
                            <td>{{carac.id}}</td>
                            <td>
                                <input type="number" class="carac" ng-model="profile.caracs[carac.id]" size="2"
                                       min="{{carac.min}}" max="{{carac.max}}" step="{{carac.step}}"
                                       ng-change="caracChanged()"/>
                                <span ng-if="carac.type == 'D3' || carac.type == 'D6'">{{carac.type}}</span>
                            </td>
                            <td>
                                <input ng-if="carac.id != 'TOUR'" type="number" class="carac"
                                       ng-model="profile.bp[carac.id]"
                                       ng-disabled="carac.id == 'PV' || carac.id == 'VUE'" ng-change="bonusChanged(carac.id)"/>
                                <input ng-if="carac.id != 'TOUR'" type="number" class="carac" ng-model="profile.bm[carac.id]" ng-change="bonusChanged(carac.id)"/>
                            </td>
                            <td>
                                <span ng-if="carac.type == 'T'">{{profile.caracs[carac.id] | duration}}</span>
                                <span ng-if="carac.type == 'D1'">{{profile.caracs[carac.id] + profile.bp[carac.id] + profile.bm[carac.id]}}</span>
                                <span ng-if="carac.type == 'D3'">{{profile.caracs[carac.id] * 2 + profile.bp[carac.id] + profile.bm[carac.id]}}<span ng-if="carac.id == 'DEG'">/{{degCritiqueComp(profile, profile.caracs['DEG'])}}</span></span>
                                <span ng-if="carac.type == 'D6'">{{profile.caracs[carac.id] * 3.5 + profile.bp[carac.id] + profile.bm[carac.id]}}</span>
                            </td>
                            <td>{{computed.amelioCount[carac.id]}}</td>
                            <td>{{computed.invested[carac.id]}} PI ({{computed.percentInvested[carac.id] |
                                number:2}}%)
                            </td>
                            <td ng-class="{true:'error', false:''}[(computed.totalPi + computed.nextCosts[carac.id]) > config.maxPi]">
                                {{computed.nextCosts[carac.id]}} PI
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group comp-box">
            <label class="col-sm-2 control-label">Aptitudes au combat</label>

            <div class="col-sm-10">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Attaque</td>
                            <td>Dégats</td>
                            <td>Dégats résistés</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="combatApt in computed.combat|orderBy:'name'">
                            <td>{{combatApt.name}}</td>
                            <td>{{combatApt.ATT}}</td>
                            <td>{{combatApt.DEG}}<span ng-if="combatApt.DEG_CRITIQ">/{{combatApt.DEG_CRITIQ}}</span></td>
                            <td ng-if="combatApt.DEG_RESIST">{{combatApt.DEG_RESIST}}<span ng-if="combatApt.DEG_RESIST_CRITIQ">/{{combatApt.DEG_RESIST_CRITIQ}}</span></td>
                            <td ng-if="!combatApt.DEG_RESIST">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group comp-box">
            <label class="col-sm-2 control-label">Compétences ({{computed.piComps}} PI - {{computed.percentComps |
                number:2}}%)</label>

            <div class="col-sm-3">
                <label>Combat</label>

                <div class="checkbox" ng-repeat="comp in compsByType['Combat']|orderBy:'name'">
                    <label>
                        <input type="checkbox" value="" ng-model="profile.comps[comp.id]"
                               ng-change="checkCompLevel(comp)"/>
                        {{comp.name}} (<b>{{comp.cost}} PI</b>)
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <label>Connaissance</label>

                <div class="checkbox" ng-repeat="comp in compsByType['Connaissance']|orderBy:'name'">
                    <label>
                        <input type="checkbox" value="" ng-model="profile.comps[comp.id]"
                               ng-change="checkCompLevel(comp)"/>
                        {{comp.name}} (<b>{{comp.cost}} PI</b>)
                    </label>
                </div>
                <label>Utile</label>

                <div class="checkbox" ng-repeat="comp in compsByType['Utile']|orderBy:'name'">
                    <label>
                        <input type="checkbox" value="" ng-model="profile.comps[comp.id]"
                               ng-change="checkCompLevel(comp)"/>
                        {{comp.name}} (<b>{{comp.cost}} PI</b>)
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Déplacement</label>

                <div class="checkbox" ng-repeat="comp in compsByType['Déplacement']|orderBy:'name'">
                    <label>
                        <input type="checkbox" value="" ng-model="profile.comps[comp.id]"
                               ng-change="checkCompLevel(comp)"/>
                        {{comp.name}} (<b>{{comp.cost}} PI</b>)
                    </label>
                </div>
                <label>Artisanat</label>

                <div class="checkbox" ng-repeat="comp in compsByType['Artisanat']|orderBy:'name'">
                    <label>
                        <input type="checkbox" value="" ng-model="profile.comps[comp.id]"
                               ng-change="checkCompLevel(comp)"/>
                        {{comp.name}} (<b>{{comp.cost}} PI</b>)
                    </label>
                </div>
            </div>
        </div>

    </form>

</div>