<div class="form-group" ng-controller="CaracteristiquesController">

    <!--div class="row">
        <label class="col-sm-2 control-label">PI investis</label>
        <div class="col-sm-2">{{computed.piCaracts}} ({{computed.percentCaracts | number:2}}%) </div>
    </div-->

    <div class="col-sm-12">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Valeur</td>
                    <td>Bonus</td>
                    <td>Moyenne</td>
                    <td>Nombre d'améliorations</td>
                    <td>Investi</td>
                    <td>Coût de la prochaine amélioration</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="carac in caracs">
                    <td>{{carac.id}}</td>
                    <td>
                        <input type="number" class="carac" ng-model="profile.caracs[carac.id]" size="2"
                               min="{{carac.min}}" max="{{carac.max}}" step="{{carac.step}}"
                               ng-change="caracChanged(carac.id)"/>
                        <span ng-if="carac.type == 'D3' || carac.type == 'D6'">{{carac.type}}</span>
                    </td>
                    <td>
                        <input ng-if="carac.id != 'TOUR'" type="number" class="carac"
                               ng-model="profile.bp[carac.id]"
                               ng-disabled="carac.id == 'PV' || carac.id == 'VUE'" ng-change="bonusChanged(carac.id)"/>
                        <input ng-if="carac.id != 'TOUR'" type="number" class="carac" ng-model="profile.bm[carac.id]"
                               ng-change="bonusChanged(carac.id)" step="{{carac.id == 'PV' ? 5 : 1}}"/>
                    </td>
                    <td>
                        <span ng-if="carac.type == 'T'">{{profile.caracs[carac.id] | duration}}</span>
                        <span ng-if="carac.type != 'T'">{{getCaracAverage(profile, carac)}}<span ng-if="carac.id == 'DEG'">/{{degCritiqueComp(profile, profile.caracs['DEG'])}}</span></span>
                    </td>
                    <td>{{computed.amelioCount[carac.id]}}</td>
                    <td>{{computed.invested[carac.id]}} PI ({{computed.percentInvested[carac.id] |
                        number:2}}%)
                    </td>
                    <td ng-class="{true:'error', false:''}[(computed.totalPi + computed.nextCosts[carac.id]) > config.maxPi]">
                        {{computed.nextCosts[carac.id]}} PI
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <button type="button" class="btn btn-xs btn-link" ng-click="resetBonus()">
                            <i class="fa fa-ban"></i> RAZ
                        </button>
                    </td>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
