<div ng-controller="ProfilingController">
    <form ng-if="profile" class="form-horizontal" role="form">

        <div ng-if="computed.totalPi > config.maxPi" class="alert alert-danger">Ce profil dépasse la limite de <b>{{config.maxPi}}
            PI</b>. Il vous manque <b>{{computed.totalPi - config.maxPi}} PI</b>.
        </div>

        <header></header>

        <fight></fight>

        <tabset>

            <tab heading="Caractéristiques">
                <caracteristiques></caracteristiques>
            </tab>
            <tab heading="Compétences">
                <competences></competences>
            </tab>
            <tab heading="Sortilèges">
                <sortileges></sortileges>
            </tab>
            <tab heading="Mouches">
                <mouches></mouches>
            </tab>
            <tab heading="Équipement">
                <equipement></equipement>
            </tab>
            <tab heading="Export">
                <export></export>
            </tab>
        </tabset>

        <div class="row actionbar">
            <button type="button" class="btn btn-sm btn-success" ng-disabled="!hasModification()"
                    ng-click="saveProfile()">
                <i class="fa fa-lg fa-floppy-o"></i> Enregistrer le profil
            </button>

            <button type="button" class="btn btn-sm btn-default" ng-disabled="!hasModification()"
                    ng-click="cancelModifications()">
                <i class="fa fa-lg fa-ban"></i> Annuler les modifications
            </button>

            <button type="button" class="btn btn-sm btn-primary" ng-if="profile.type=='local'"
                    ng-click="moveFromLocalToRemote()" ng-disabled="!isAuthenticated()">
                <i class="fa fa-lg fa-upload"></i> Transférer sur le serveur
            </button>

            <button type="button" class="btn btn-sm btn-primary" ng-click="startSharing()"
                    ng-disabled="!isOwner(sharable)" ng-if="sharable">
                <i class="fa fa-lg fa-share"></i> Partager
            </button>

            <share></share>
        </div>

    </form>
</div>
