
<form ng-if="import.show" class="form-horizontal" role="form" ng-controller="ImportageController">
    <div class="alert alert-info">Vous pouvez coller dans la zone ci-dessous le JSON d'un profil.</div>
    <div class="form-group">
        <label for="importJson" class="col-sm-2 control-label">Profil au format JSON</label>

        <div class="col-sm-10">
            <textarea ng-model="import.json" class="form-control" id="importJson"></textarea>
        </div>

        <button type="button" class="btn btn-sm btn-success" ng-click="importProfile()">
            <span class="glyphicon glyphicon-import"></span> Importer le profil
        </button>

        <pre class="infodev">{{import.json}}</pre>
    </div>
</form>
