<!doctype html>
<html ng-app="ZoumProfiler" lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="libs/jquery.min.js"></script>

        <script src="libs/angular.min.js"></script>
        <script src="libs/angular-sanitize.min.js"></script>

        <script src="libs/bootstrap.min.js"></script>
        <script src="libs/ui-bootstrap.min.js"></script>
        <script src="libs/ui-bootstrap-tpls.min.js"></script>

        <link href="styles/zoumProfiler.min.css" rel="stylesheet">
        <script src="scripts/zoumProfiler.js"></script>

        <title>ZoumProfiler v0.2-SN</title>
    </head>


    <body>
        <div class="banner">
            <a target="_blank" href="https://github.com/athimel/ZoumProfiler">En développement</a>
        </div>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="#">ZoumProfiler v0.2-SN</a>
                </div>
            </div>
        </div>

        <div class="container-fluid" ng-controller="BaseProfileController">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="alert alert-danger" ng-repeat="message in messages.errors" ng-bind-html="message" ng-click="removeMessage(message)"></div>
                    <div class="alert alert-warning" ng-repeat="message in messages.warnings" ng-bind-html="message" ng-click="removeMessage(message)"></div>
                    <div class="alert alert-success" ng-repeat="message in messages.success" ng-bind-html="message" ng-click="removeMessage(message)"></div>

                    <ul class="nav nav-sidebar" ng-repeat="profileType in profileTypes">

                        <span ng-if="profileType=='local'" class="profile-category">Profils stockés uniquement sur votre machine</span>
                        <span ng-if="profileType=='remote'" class="profile-category">Profils stockés sur le serveur <button type="button" class="btn btn-sm btn-link" ng-click="refreshRemote()">
                            <span class="glyphicon glyphicon-refresh"></span> refresh
                        </button></span>

                        <li ng-repeat="p in profiles | filter:{'type':profileType} | orderBy:['name','profile']"
                            ng-class="{true:'active', false:''}[profile == p]">

                            <input type="checkbox" value="" ng-model="compareContext.map[p.id]"/>

                            <a ng-click="selectProfile(p)" class="select-profile">
                                {{p.name}} <span ng-if="p.profile" class="profile">({{p.profile}})</span>
                            </a>

                            <div class="buttons">
                                <button type="button" class="btn btn-xs btn-primary" ng-click="copyProfile(p)"
                                        title="Dupliquer">
                                    <span class="glyphicon glyphicon-share"></span>
                                </button>

                                <button type="button" class="btn btn-xs btn-danger" ng-click="deleteProfile(p)"
                                        title="Supprimer" ng-disabled="p.type=='remote'">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>

                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="getCompareIds().length < 2"
                            ng-click="startCompareUseCase()">
                        <span class="glyphicon glyphicon-stats"></span> Comparer les profils
                    </button>

                    <br/>

                    <button type="button" class="btn btn-sm btn-primary" ng-click="addProfile()">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter un profil
                    </button>

                    <button type="button" class="btn btn-sm btn-primary" ng-click="startImport()">
                        <span class="glyphicon glyphicon-import"></span> Importer un profil
                    </button>

                    <button type="button" class="btn btn-sm btn-primary" ng-click="startScheduler()"
                            ng-disabled="profiles.length == 0">
                        <span class="glyphicon glyphicon-cog"></span> Outil tactique
                    </button>

                    <div class="authentication-bar" ng-if="user && !authenticationContext.show">
                        <span ng-if="!user.remoteId" class="auth-status">Pas connecté</span>
                        <button type="button" class="btn btn-xs btn-primary" ng-click="startLogin()" ng-if="!user.remoteId" title="Connexion">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-default" ng-click="startRegistration()" ng-if="!user.remoteId" title="Créer un compte">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>

                        <span ng-if="user.remoteId" class="auth-status"><b><abbr title="Groupes : {{user.groups|commaList}}">{{user.login}}</abbr></b></span>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="logout()" ng-if="user.remoteId" title="Déconnexion">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </button>
                    </div>
                    <form class="authentication-form" ng-if="authenticationContext.show" role="form">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Login" ng-model="authenticationContext.login" ng-required/>
                            <input class="form-control" type="password" placeholder="Mot de passe" ng-model="authenticationContext.password" ng-required/>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-success" ng-click="submitAuthentication()">
                                <span class="glyphicon glyphicon-save"></span> {{authenticationContext.type == "register" ? "Créer un compte" : "Connexion"}}
                            </button>

                            <button type="button" class="btn btn-sm btn-default" ng-click="cancelAuthentication()">
                                <span class="glyphicon glyphicon-ban-cicle"></span> Annuler
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    <br/>
                    <div ng-if="computed.totalPi > config.maxPi" class="alert alert-danger">Ce profil dépasse la limite de <b>{{config.maxPi}}
                        PI</b>. Il vous manque <b>{{computed.totalPi - config.maxPi}} PI</b>.
                    </div>

                    <form ng-if="profile" class="form-horizontal" role="form">

                        <header></header>

                        <fight></fight>

                        <tabset ng-if="profile">

                            <tab heading="Caractéristiques">
                                <caracteristiques></caracteristiques>
                            </tab>
                            <tab heading="Compétences">
                                <competences></competences>
                            </tab>
                            <tab heading="Sortilèges">
                                <sortileges></sortileges>
                            </tab>
                            <tab heading="Mouches">
                                <mouches></mouches>
                            </tab>
                            <tab heading="Équipement">
                                <equipement></equipement>
                            </tab>
                            <tab heading="Export">
                                <export></export>
                            </tab>
                        </tabset>

                    </form>

                    <import></import>

                    <compare></compare>

                    <scheduler></scheduler>

                    <div class="row actionbar" ng-if="profile">
                        <button type="button" class="btn btn-sm btn-success" ng-disabled="!hasModification()" ng-click="saveProfile()">
                            <span class="glyphicon glyphicon-save"></span> Enregistrer le profil
                        </button>

                        <button type="button" class="btn btn-sm btn-default" ng-disabled="!hasModification()" ng-click="cancelModifications()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Annuler les modifications
                        </button>

                        <button type="button" class="btn btn-sm btn-primary" ng-if="profile.type=='local'" ng-click="moveFromLocalToRemote()">
                            <span class="glyphicon glyphicon-cloud-upload"></span> Transférer sur le serveur
                        </button>

                        <span class="shares" ng-if="profile.type=='remote' && !shareContext.show">

                            <span ng-if="!isOwner(profile)">
                                <span class="title">Propriétaire :</span>
                                <button type="button" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-user"></span> {{usersIndex[profile._internal.owner['$id']].login}}
                                </button>
                                |
                            </span>

                            <span class="title" ng-if="!profile._internal.shares || profile._internal.shares.length == 0">Non partagé</span>

                            <span class="title" ng-if="profile._internal.shares && profile._internal.shares.length > 0">Partages :</span>
                            <span ng-repeat="share in profile._internal.shares">
                                <button type="button" class="btn btn-xs btn-default" ng-if="share.group && share.group == 'public'" ng-click="unshare(share)" title="Cliquez pour annuler ce partage">
                                    <span class="glyphicon glyphicon-globe"></span> Public
                                </button>
                                <button type="button" class="btn btn-xs btn-default" ng-if="share.group && share.group != 'public'" ng-click="unshare(share)" title="Cliquez pour annuler ce partage">
                                    <span class="glyphicon glyphicon-flag"></span> {{share.group}}
                                </button>
                                <button type="button" class="btn btn-xs btn-default" ng-if="share.user" ng-click="unshare(share)">
                                    <span class="glyphicon glyphicon-user"></span> {{usersIndex[share.user['$id']].login}}
                                </button>
                            </span>

                            | <button type="button" class="btn btn-sm btn-primary" ng-click="startSharing()">
                                <span class="glyphicon glyphicon-share"></span> Partager
                            </button>
                        </span>
                        <form class="shares form-inline" ng-if="profile.type=='remote' && shareContext.show" role="form">
                            <div class="form-group">
                                <input class="form-control" type="text" id="share-user" ng-model="shareContext.user" placeholder="Nom d'utilisateur"/>
                                <input class="form-control" type="text" id="share-group" ng-model="shareContext.group" placeholder='Nom du groupe ou "public"'/>

                                <button type="button" class="btn btn-sm btn-success" ng-click="submitShare()">
                                    <span class="glyphicon glyphicon-share"></span> Partager
                                </button>
                                <button type="button" class="btn btn-sm btn-default" ng-click="cancelShare()">
                                    <span class="glyphicon glyphicon-ban-cicle"></span> Annuler
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div> <!-- end of BaseProfileController -->

    </body>

</html>
